
<h2>新規会員登録</h2>
<%= form_for(resource, as: resource_name, url: cosotmers_sign_up_confirm_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <div class="nema_field">
  <span class="font">名前</span>
  <div class="field">
    <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name", placeholder:"姓"%>
  </div>

   <div class="field">

    <%= f.text_field :middle_name, autofocus: true, autocomplete: "middle_name", placeholder:"名" %>
  </div>
</div>

<div class="under_name_field">
  <span class="font">フリガナ</span>
  <div class="field">
  
    <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", placeholder:"セイ" %>
  </div>

  <div class="field">
   
    <%= f.text_field :middle_name_kana, autofocus: true, autocomplete: "middle_name_kana", placeholder:"メイ" %>
  </div>
</div>

  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, autofocus: true, autocomplete: "zipcode" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>


  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上入力して下さい)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "確認画面へ" %>
  </div>
<% end %>

<%= render "costomers/shared/links" %>
</table>
