<% if @shipping_address.errors.any? %>
<div id="error_explanation">
	<h2><%= @shipping_address.errors.count %>つのエラーがあります。空欄には入力してください。</h2>
	<ul>
		<% @shipping_address.errors.full_messages.each do |m| %>
		<li><%= m %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="body">
	<div class="container">
		<div class="row">
		<div class="col-xs-2">
					<h3 style="background-color: gray">&ensp;&thinsp;&thinsp;配送先編集</h3>
				</div>
			</div>
		<div class="row">
				<div class="col-xs-8">
					<div class="table table-borderless">
							<%= form_for @shipping_address, url: costomers_shipping_address_path do |f| %>
							<div class="field row">
								<label class="col-xs-4" for="zipcode">郵便番号(ハイフンなし)</label>
								<div class="col-xs-offset-1"><%= f.text_field :zipcode %>
								</div>
							</div>
							<div class="field row">
								<label class="col-xs-4" for="address">住所</label>
								<div><%= f.text_field :address, size: "40" %>
								</div>
							</div>
							<div class="field row">
								<label class="col-xs-4" for="name">宛名</label>
								<div class="col-xs-offset-1"><%= f.text_field :name %>
								</div>
								<div class="col-xs-offset-10">
									<%= f.submit "編集する", class: "btn btn-primary active" %>
								</div>
							</div>
							<% end %>
						</div>
					</div>
				</div>

	</div>

</div>