

<table class="confirm" cellspacing="0" summary="memberInformation2">
<tbody><tr>
<th class="headCol" scope="col" colspan="2">
登録情報
</th>
</tr>
<tr>
<th class="headRow" scope="row">
  氏名
</th>
    
<td>
 <%= @costomer.full_name %>
</td>
</tr>

<tr>
<th class="headRow" scope="row">
  氏名（フリガナ）
</th>
<td>
    <%= @costomer.full_name_kana %>
</td>
</tr>

<tr>
<th class="headRow" scope="row">
   郵便番号
</th>
<td>
    <%= @costomer.zipcode %>
</td>
</tr>

<tr>
<th class="headRow" scope="row">
   住所
</th>
<td>
    <%= @costomer.address %>
</td>
</tr>

<tr>
<th class="headRow" scope="row">
   電話番号
</th>
<td>
    <%= @costomer.phone_number %>
</td>
</tr>

</tbody></table>
<%= link_to "トップページへ戻る", root_path %>










<% if costomer_signed_in? && @costomer.id == current_costomer.id %>
        <%= link_to "退会", costomers_hide_path(current_costomer), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
<% end %>