<div class="row">

  <!-- サイドバー要部分テンプレ化 -->
  <div class='col-xs-3'>
    <div class="panel panel-default">
		<div class="panel-heading">
			ジャンル検索
		</div>
		<!-- 後でforeachとlink_toタグに変更 -->
		<ul class="list-group">
			<li class="list-group-item">ケーキ</li>
			<li class="list-group-item">焼き菓子</li>
			<li class="list-group-item">プリン</li>
			<li class="list-group-item">キャンディ</li>
		</ul>
	</div>
  </div>
  <!-- サイドバー終わり-->

  <!-- メインコンテンツ-->
  <div class='col-xs-9'>

    <div>
    	<div class="jumbotron">
	      <div class="container">
	        <h3>ようこそ、NaganoCakeへ！</h3>
    		<div class="site-description">
    			このサイトは、ケーキ販売のECサイトになります。</br>
    			会員でない方も商品の閲覧はできますが、</br>
    			購入には会員登録が必要になります。
    		</div>
    		
	      </div>
    	</div>
    </div>

<!-- オススメ商品リスト-->
    <div>
    	<h4>オススメ商品</h4>
		<div class="row" style="padding-bottom:0px">
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<%= image_tag 'cake5.jpg'%>
					<div class="caption">
						<label>商品名</label>
						<p>¥0,000</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<%= image_tag 'purin.jpg'%>
					<div class="caption">
						<label>商品名</label>
						<p>¥0,000</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<%= image_tag 'cake7.jpg'%>
					<div class="caption">
						<label>商品名</label>
						<p>¥0,000</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="thumbnail">
					<%= image_tag 'yakigashi1.jpg'%>
					<div class="caption">
						<label>商品名</label>
						<p>¥0,000</p>
					</div>
				</div>
			</div>
		</div>

		<div class="more_item"><%= link_to "もっと見る", root_path %></div>
	</div>
	<!-- おすすめ商品リスト-->

  </div>
  <!-- メインコンテンツ-->

</div>