<div class="row">

  <!-- ジャンル検索 -->
  <%= render '/genre_search', genres: @genres %>

  <!-- メインコンテンツ-->
  <div class='col-xs-9'>
   <div class="row">
  	<div class='col-xs-6'>
  		<%= attachment_image_tag @product, :image,:fill, 400, 300,fallback: "noimage.svg" %>
  	</div>

  	<div class='col-xs-6'>
  		<div class="form-group row">
			<h3><%= @product.name %></h3>
		</div>
		<div class="form-group row">
			<%= @product.explain %>
		</div>
		<div class="form-group row">
			<!-- add_comma：カンマ区切り（application_helper.rbに記載） -->
			<!-- addTax：税込価格 -->
			￥<%= add_comma(addTax(@product.notax_price)) %>(税込)
		</div>
		<!-- 個数のセレクトボックス -->
		<div class="col-sm-9">
			<div class="box">
				<div class="bottom-text">
				<!--form_for [@cart_item,@product] do |f| -->
				<%= form_for [@producted] do |f| %>
					<% if(@product.is_valid==true) %><!-- 販売ステータスが販売中の時カートに追加ボタン表示 -->
						<%= f.select :is_valid, @select_text, include_blank: "個数選択" %>
						<%= f.submit @b_name, class: 'btn btn-primary'%>
					<% else %><!-- 販売ステータスが売り切れの時 -->
						<%= f.select :is_valid,[@select_text],{},disabled: true,class: 'soldout' %>
						<%= f.submit @b_name, class: 'btn btn-primary',disabled: true %>
					<% end %>
				<% end %>
			   </div>
			</div>
	    </div>
	</div>
   
   </div>
  </div>

</div>

</div>