<p id="notice"><%= notice %></p>

<h1>Costomers Carts</h1>

<table>
  <thead>
    <tr>
      <th>Costomer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costomers_carts.each do |costomers_cart| %>
      <tr>
        <td><%= costomers_cart.costomer_id %></td>
        <td><%= link_to 'Show', costomers_cart %></td>
        <td><%= link_to 'Edit', edit_costomers_cart_path(costomers_cart) %></td>
        <td><%= link_to 'Destroy', costomers_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costomers Cart', new_costomers_cart_path %>
