<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Logo（要差し替え）</span>
      仮ヘッダー
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if costomer_signed_in? %>
        <li>会員（表示確認用）</li>
        <li><%= link_to 'カート', products_path,class: 'btn btn-default' %></li><!-- 要パス修正 -->
        <li><%= link_to "商品一覧", products_path,class: 'btn btn-default' %></li>
        <li><%= link_to 'マイページ', costomer_path(current_costomer.id),class: 'btn btn-default' %></li>
        <li><%= link_to "ログアウト", destroy_costomer_session_path, method: :delete,class: 'btn btn-default' %></li>
      <% elsif admin_signed_in? %>
        <li>管理者（表示確認用）</li>
        <li><%= link_to "商品一覧", admins_products_path,class: 'btn btn-default' %></li>
        <li><%= link_to "会員一覧", admins_products_path,class: 'btn btn-default' %></li><!-- 要パス修正 -->
        <li><%= link_to "注文履歴一覧", admins_products_path,class: 'btn btn-default',:style=>"font-size:13px;" %></li><!-- 要パス修正 -->
        <li><%= link_to "ジャンル一覧", admins_genres_path,class: 'btn btn-default',:style=>"font-size:13px;" %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'btn btn-default' %></li>
      <% else %>
        <li>ゲスト（表示確認用）</li>
        <li><%= link_to "商品一覧", products_path,class: 'btn btn-default' %></li>
        <li><%= link_to "新規登録", new_costomer_registration_path,class: 'btn btn-default' %></li>
        <li><%= link_to "ログイン", new_costomer_session_path,class: 'btn btn-default' %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
